/* ======================================================================================
Hero Section Styles
========================================================================================= */

.hero {
    padding: 80px 20px;
    background-color: #1F2937;
    color: #fff;
}

.hero-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-visual img {
    width: 600px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

@media (min-width: 768px){
    .hero-wrapper {
        flex-direction: row;
    }

    .hero-content, .hero-visual img {
        flex: 1;
    }

    .hero-content {
        padding-right: 50px;
    }
}

/* ======================================================================================
Hero Section Styles End
========================================================================================= */

    /* ======================================================================================
Features Section Styles
========================================================================================= */

.features {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.features-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;

}

.features-title {
    margin: 20px;
    text-align: center;
}

.feature {
    flex: 1 1 280px;
    /* max-width: 400px; */
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    color: #fff;
    background-color: #1F2937;
}

.feature-icon {
    font-size: 25px;
    padding: 10px;
    color: #3882F6;
    background-color: #34445a;
    border-radius: 20px;
}

.feature-title {
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0 10px;
}

.feature-description {
    font-size: 14px;
    line-height: 1.5;
    color: #b1b7c2;
}

/* ======================================================================================
Features Section Styles End
========================================================================================= */

/* ======================================================================================
Call to Action Section Styles
========================================================================================= */

.action {
    padding: 40px 20px;
}

.action-card {
    display: flex;
    align-items: flex-end;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 20px;
    padding: 10px;
}

.action-text {
  text-align: left;
}

.action-title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}

.action-description {
    font-size: 18px;
    margin-bottom: 30px;
    color: #E5E7EB;
    line-height: 1.5;
}

.action-card a {
    margin-bottom: 30px;
}

@media (min-width: 768px){
    .action-card {
        padding: 40px 80px;
    }
}


/* ======================================================================================
Call to Action Section Styles End
========================================================================================= */