/*

This is the main stylesheet for the website. It contains all the common styles between pages.

*/

/* ======================================================================================
Fots
========================================================================================= */

@font-face {
  font-family: 'Roboto'; /* Give your font a name */
  src: url('./../fonts/Roboto-Regular.ttf') format('truetype'); /* Modern & fastest */
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Shows fallback font until custom font loads */
}

@font-face {
  font-family: 'Roboto'; /* Give your font a name */
  src: url('./../fonts/Roboto-Bold.ttf') format('truetype'); /* Modern & fastest */
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* Shows fallback font until custom font loads */
}

@font-face {
  font-family: 'Roboto'; /* Give your font a name */
  src: url('./../fonts/Roboto-ExtraBold.ttf') format('truetype'); /* Modern & fastest */
  font-weight: 900;
  font-style: normal;
  font-display: swap; /* Shows fallback font until custom font loads */
}

@font-face {
  font-family: 'Roboto'; /* Give your font a name */
  src: url('./../fonts/Roboto-Light.ttf') format('truetype'); /* Modern & fastest */
  font-weight: 300;
  font-style: normal;
  font-display: swap; /* Shows fallback font until custom font loads */
}

@font-face {
  font-family: 'Roboto'; /* Give your font a name */
  src: url('./../fonts/Roboto-LightItalic.ttf') format('truetype'); /* Modern & fastest */
  font-weight: 300;
  font-style: italic;
  font-display: swap; /* Shows fallback font until custom font loads */
}

/* ======================================================================================
Fonts End
========================================================================================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9FAF8;
    color: #1F2937;
}

h1 {
   font-size: 48px;
   font-weight: 900;
   margin-bottom: 20px;
}

h2 {
   font-size: 36px;
   font-weight: 700;
   margin-bottom: 15px;
}

/* ======================================================================================
Navigation Bar Styles 
========================================================================================= */

.navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}

.nav-links {
    display: flex;
    margin-left: auto;
    list-style: none;
    align-items: center;
}

.navbar .nav-logo img {
    width: 300px;
    height: auto;
    
}

.navbar .nav-links .nav-item {
    margin: 0 10px;
}

.navbar .nav-links a {
    color: #F9FAF8;
    text-decoration: none;
}

.navbar .nav-button {
    margin: 0;
}

#menu-toggle, .hamburger {
  display: none; /* Hide toggle tools on desktop */
}

/* --- Mobile Responsiveness --- */
@media (max-width: 768px) {
  .hamburger {
    display: block; /* Show hamburger icon */
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav-links {
    display: none; /* 1. HIDE MENU BY DEFAULT ON MOBILE */
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #1F2937;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
  }

  .nav-links li {
    padding: 10px 0;
  }

  /* 2. THE MAGIC: Show menu only when checkbox is checked */
  #menu-toggle:checked ~ .nav-links {
    display: flex;
  }
}

/* ======================================================================================
Navigation Bar Styles End 
========================================================================================= */

/* ======================================================================================
Hero Section Styles
========================================================================================= */

.hero {
    padding: 80px 20px;
    background-color: #1F2937;
    color: #fff;
}

.hero-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-visual img {
    width: 600px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

@media (min-width: 768px){
    .hero-wrapper {
        flex-direction: row;
    }

    .hero-content, .hero-visual img {
        flex: 1;
    }

    .hero-content {
        padding-right: 50px;
    }
}

/* ======================================================================================
Hero Section Styles End
========================================================================================= */

    /* ======================================================================================
Features Section Styles
========================================================================================= */

.features {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.features-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;

}

.features-title {
    margin: 20px;
}

.feature {
    flex: 1 1 280px;
    /* max-width: 400px; */
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    color: #fff;
    background-color: #1F2937;
}

.feature-icon {
    font-size: 25px;
    padding: 10px;
    color: #3882F6;
    background-color: #34445a;
    border-radius: 20px;
}

.feature-title {
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0 10px;
}

.feature-description {
    font-size: 14px;
    line-height: 1.5;
    color: #b1b7c2;
}

/* ======================================================================================
Features Section Styles End
========================================================================================= */

/* ======================================================================================
Testimonials Section Styles
========================================================================================= */

.testimonials {
    background-color: #E5E7EB;
}

.testimonial{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: rgba(31, 41, 55, 1); /* #1F2937 with 100% opacity */
}

.testimonial span {
    color: rgba(31, 41, 55, 0.1);
}

.testimonial p {
    line-height: 1.5;
}

.testimonial p, .testimonial figcaption {
    padding-left: 40px;
}

.testimonial figcaption {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
}

/* ======================================================================================
Testimonials Section Styles End
========================================================================================= */

/* ======================================================================================
Call to Action Section Styles
========================================================================================= */

.action {
    padding: 80px 20px;
}

.action-card {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}

.action-title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}

.action-description {
    font-size: 18px;
    margin-bottom: 30px;
    color: #E5E7EB;
    line-height: 1.5;
}

@media (min-width: 768px){
    .action-card {
        padding: 40px 10vw;
    }
}


/* ======================================================================================
Call to Action Section Styles End
========================================================================================= */

/* ======================================================================================
Footer Section Styles
========================================================================================= */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px;
    text-align: center;
}

.footer-logo img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.footer-text {
    font-size: 14px;
    color: #E5E7EB;
    margin-top: 10px;
}

.footer-text, .footer-links a, .legal-links a {
    color: #b1b7c2;
    line-height: 1.5;
}

.copyright, .footer-links {
    text-align: left;
}

.copyright, .footer-links, .legal-links, .page-links {
    flex: 1 1 300px;
    margin: 10px;
}

.footer-links, .legal-links, .page-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-links a, .legal-links a, .page-links a {
    color: #F9FAF8;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}

.social-links {
    font-size: 36px;
}

/* ======================================================================================
Footer Section Styles End
========================================================================================= */

/* ======================================================================================
Contact Hero Section Styles
========================================================================================= */

.contact-hero {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 80px 20px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.contact-intro{
    flex: 1 1 400px;
    max-width: 65ch;
}

.contact-intro em {
    font-style: italic;
    font-weight: 900;
    color: #3882F6;
}

.contact-intro p {
    font-size: 18px;
    line-height: 1.5;
}

.intro-card {
    padding: 40px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    flex: 0 1 200px;
    text-align: right;
    align-self: flex-end;
    margin-top: 40px;
}

.intro-card i {
    font-size: 36px;
    color: #3882F6;
    margin-bottom: 20px;
}

/* ======================================================================================
Contact Hero Section Styles End
========================================================================================= */

.Form-Area {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 800px;
    margin: 20px auto;
    color: #F9FAF8;
}

.form-container {
 background-color: #1F2937;
 padding: 50px 20px;
}

.Form-Area label {
    font-size: 14px;
    color: #E5E7EB;
    text-align: center;
}

.Form-Area input, .Form-Area textarea {
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #3882F6;
    background-color: #2D3748;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.Join {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px 40px;
    text-align: center;
}

.Join h1 {
font-size: 48px;
font-weight: 800;
 margin-bottom: 16px;

}

.Join h3 {
font-size: 18px;
font-weight: 300;
color: #E5E7EB;
margin-bottom: 16px;
}


.quote-text {
   font-size: 24px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    line-height: 1.6;
    
   /*  dont add justify, it looks kinda weird on small screans*/
}
.quote-img {
  width: 150px;       
  height: 150px;
  object-fit: contain;
  flex-shrink: 0; /*  leave this at 0 so the text wraps down (❁´◡`❁)*/
}
.Information-fill {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 15px;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1; 
    gap: 5px;
}

.coding-icon {
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

.quote-block {
    display:flex;
    align-items: center;
    gap: 1rem;
    padding: 60px 80px;
}
/* ======================================================================================
Utility Classes
========================================================================================= */

.btn {
    padding: 10px 20px;
    border: none;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.btn-lg {
    padding: 15px 30px;
    font-size: 18px;
}

.btn-primary {
    background-color: #3882F6;
    color: #F9FAF8;
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid #F9FAF8;
    color: #F9FAF8;
}

/* ======================================================================================
Utility Classes End
========================================================================================= */

/* ======================================================================================
Awards Page
========================================================================================= */